<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>welcome to home page</h1>
        <form>
            <input type="text" name="first" placeholder="first name" required="required">
            <input type="text" name="last" placeholder="last name" required="required">
            <input type="tel" name="contact no" placeholder="contact" required="required">
            <input type="email" name="email address" placeholder="email address" required="required">
            <input type="number" name="exp" placeholder="expierence" required="required">
            <button>submit</button>
        </form>

    </body>
    
</html>