<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>welcome to home page</h1>
        <form method="post" action='/form'>
            <input type="number" name="preg" placeholder="pregnant" required="required">
            <input type="number" name="plas" placeholder="plas" required="required">
            <input type="number" name="pres" placeholder="pres" required="required">
            <input type="number" name="skin" placeholder="skin" required="required">
            <input type="number" name="test" placeholder="test" required="required">
            <input type="number" name="mass" placeholder="mass" required="required">
            <input type="number" name="predi" placeholder="predi" required="required">
            <input type="number" name="age" placeholder="age" required="required">
            
            <button>submit</button>
        </form>

    </body>
    
</html>